body{
    margin: 0;
    display: grid;
    place-content: center;
} 
#render{
    width: 100%;
    height: 100%;
}
#mouseOff{
    position: fixed;
    top: 0;
    left: 2rem;
    z-index: 100;
}