body{
    margin: 0;
    display: grid;
    place-content: center;
} 
#render{
    width: 100%;
    height: 100%;
}
.start, .stop, .step, .gravity-up, .gravity-down, .poof {
    background-color: #bbb;
    border-radius: 3px;
    cursor: pointer;
}
.menu {
    background-color: #999;
    border-radius: 3px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    padding: 0.2rem;
    top: 0;
    left: 0;
    z-index: 100;
    user-select: none;
}
p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.2rem
}
